/* Ugly as sin then worry about prettying it up*/

*{
    box-sizing: border-box;
}

body{
    background-color: #99c5d4;
    font-family: Arial, Helvetica, sans-serif;
}

.gameboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "secretword graphic"
    "buttons graphic"
    "guesses graphic"
    "keyboard score"
}

.secret-word-container {
    grid-area: secretword;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    font-size: 40px;
    color: #eeeeea;
    margin: 10px;
}

.guesses{
    grid-area: guesses;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width:100%;
    font-size: 35px;
    color: #eeeeea;
    margin: 10px;
}

.graphic {
    grid-area: graphic;
}
.graphic>img {
    border-radius: 10px;
    width: 90%;
    height: 90%;
    align-items: flex-end;
    margin: 10px 0px 0px 0px;
}

.scoreboard{
    grid-area: score;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #e6e60a;
    font-size: 30px;
    margin: 10px;
    -webkit-text-stroke: .25px grey;
}

.keyboard {
    grid-area: keyboard;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.letterbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.difficulty-box {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.difficulty-buttons{
    cursor: pointer;
    background-color: darkgrey;
    color: yellow;
    border-radius: 3px;
    font-size: 30px;
}

.selected{
    cursor: pointer;
    background-color: rgb(19, 211, 19);
    color: yellow;
    border-radius: 3px;
    font-size: 30px;
}

.letter-buttons{
    font-size: 25px;
    border-radius: 30%;
    padding: 5px 5px;
    border: 10px #e4e4e4;
    cursor: pointer;
    background-color: darkgray;
    color: #e6e60a;
    min-width: 40px;
}

.selected-letters{
    font-size: 25px;
    border-radius: 30%;
    padding: 5px 5px;
    border: 10px #e4e4e4;
    cursor: pointer;
    background-color: black;
    color: #e6e60a;
    min-width: 40px;
}

@media screen and (max-width: 768px) {
    .gameboard {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "secretword"
        "buttons"
        "guesses"
        "keyboard"
        "score"
    }

    .secret-word-container {
        grid-area: secretword;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        max-width: 90%;
    }

    .difficulty-box {
        grid-area: buttons;
        display: flex;
        flex-direction: row;
        max-width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    .selected{
        cursor: pointer;
        background-color: rgb(19, 211, 19);
        color: yellow;
        border-radius: 3px;
        font-size: 30px;
    }

    .guesses{
        grid-area: guesses;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex;
        max-height: 90%;
    }
    
    .letterbox {
        grid-area: keyboard;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 100%;
        font-size: 20px;
    }

    .letter-buttons{
        font-size: 25px;
        border-radius: 30%;
        padding: 5px 5px;
        border: 10px #e4e4e4;
        cursor: pointer;
        background-color: darkgray;
        color: #e6e60a;
        min-width: 40px;
    }

    .selected-letters{
        font-size: 25px;
        border-radius: 30%;
        padding: 5px 5px;
        border: 10px #e4e4e4;
        cursor: pointer;
        background-color: black;
        color: #e6e60a;
        min-width: 40px;
    }

    .scoreboard{
        grid-area: score;
        display: flex;
        flex-direction: row;
        max-width: 90%;
        align-items: center;
    }

    .graphic{
        display: none;
    }
}